@{
    ViewBag.Title = "LogIn";
}
@model PetVet.Models.Usuario
<style>

    body {
        padding-bottom: 0;
    }

    input {
        max-width: 100%;
    }

    #crear-cuenta {
        color: #F7882F;
        font-weight:600;
    }

    .btn-inicio:hover {
        border-color: rgb(107, 122, 143, .4) !important;
    }

    .input-inicio {
        border-radius: 8px;
        height: 30px;
        border-width: 1px;
    }

    @@media(max-width:600px) {
        #container-imagenes{
            display:none;
        }

        #login-form-container{
            width:100% !important;
        }
    }

    .btn-text{
        visibility:visible ;
    }

    .btn-loading .btn-text{
        visibility:hidden;
        opacity:0;
    }

    .btn-loading::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 4px solid transparent;
        border-top-color: #ffffff;
        border-radius: 50%;
        animation: button-loading-spinner 1s ease infinite;
    }

    @@keyframes button-loading-spinner {
      from {
        transform: rotate(0turn);
      }

      to {
        transform: rotate(1turn);
      }
    }

    #error-msg{
        color:red;
        display:none;
    }

</style>


    <div class="d-flex" style="height:100%;">
        <div id="login-form-container" class="center-content" style="background-color: rgb(220, 199, 170, .4); width:50%;">
            <div id="login-form" style="display:flex; justify-content:center; flex-direction:column; text-align:center; width:60%;">
                <div style="">
                    <div class="mb-4 weight-600" style="font-size:2rem;">Bienvenido</div>
                    <span id="error-msg">Email o Contrasena incorrecto</span>
                    <div class="text-start mb-2">
                        <div class="weight-600">Email</div>
                        @Html.TextBoxFor(model => model.Mail, new { @class = "width-100 input-inicio" })
                        @Html.ValidationMessageFor(model => model.Mail)
                        @*<input class="width-100 input-inicio" />*@
                    </div>
                    <div class="text-start">
                        <div class="weight-600">Contraseña</div>
                        @Html.TextBoxFor(model => model.Password, new { @class = "width-100 input-inicio", type="password" })
                        @Html.ValidationMessageFor(model => model.Password)
                        @*<input class="width-100 input-inicio" />*@
                    </div>
                    <div class="text-end mb-2" style="font-size:12px;">
                        <span>Olvidaste la contraseña?</span>
                    </div>
                    <div class="mb-2">
                        <button style="background-color:#D9D9D9; border-color:transparent; position:relative;" class="btn-inicio" onclick="IniciarSesion()"><span class="btn-text">Iniciar Sesión</span></button>
                    </div>
                    <div class="d-flex" style="font-size:10px;flex-direction:column;">
                        <div>Nuevo en PetVet?</div>
                        <div><a id="crear-cuenta" href="@Url.Action("SignIn", "Home")">Crear Cuenta</a></div>
                    </div>
                </div>

            </div>
        </div>
        <div id="container-imagenes" class="width-50 img-container" style="width:50%;">
            <div>
                <img src="~/Content/img/Icono_blanco.png" />
            </div>
            <div>
                <img width="90%" src="~/Content/img/portada.png" />
            </div>
        </div>
    </div>


<script>

    $("#error-msg").hide();

    function IniciarSesion() {
        
        $(".btn-inicio").addClass("btn-loading");
        var mail = $("#Mail").val();
        var clave = $("#Password").val();

        // Crear el objeto de datos a enviar
        //var data = {
        //    email: mail,
        //    psswd: clave
        //};

        // Realizar la solicitud AJAX POST
        $.ajax({
            type: "POST",
            url: "/Home/LogIn", // Ruta de tu endpoint
            data: { email: mail, psswd: clave },           
            
            success: function (response) {
                if (response.redirectUrl) {
                    // Redirigir manualmente
                    
                    window.location.href = response.redirectUrl;
                    
                } else {
                    $(".btn-inicio").removeClass("btn-loading");
                    $("#error-msg").show();
                }
            },
            error: function (error) {
                // Manejar el error
                $(".btn-inicio").removeClass("btn-loading");
                $("#error-msg").show();
                console.error(error);
            }
        });
    }
</script>
