
@{
    ViewBag.Title = "NewPet";
}

@{ var especies = new[] { new { text = "perro", value = "perro" }, new { text = "gato", value = "gato" }, new { text = "conejo", value = "conejo" } }; }

@{ var esterilizado = new[] { new { text = "Si", value = "Si" }, new { text = "No", value = "No" } }; }

    @model PetVet.Models.Mascota



<style>
    .input-inicio {
        border-radius: 8px;
        height: 30px;
        border-width: 1px;
    }

    form{
        height:100%;
    }
</style>

<div style="height:100%;">
    @using (Html.BeginForm())
    {

        <div class="width-50 center-content" style="background-color: rgb(220, 199, 170, .4); flex-direction:column; height:100%">
            <div style="text-align:center;"><h1 style="font-size: 2rem;">Nueva Mascota</h1></div>
            <div class="mt-1" style="display:flex; justify-content:center; flex-direction:column; text-align:center;">
                <form style="height:100%;">
                    <div class="text-start">
                        <div class="weight-600">Nombre</div>
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "width-100 input-inicio" })
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>
                    <div class="text-start">
                        <div class="weight-600">Raza</div>
                        @Html.TextBoxFor(model => model.Raza, new { @class = "width-100 input-inicio" })
                        @Html.ValidationMessageFor(model => model.Raza)
                    </div>
                    <div class="text-start">
                        <div class="weight-600">Edad</div>
                        @Html.TextBoxFor(model => model.Edad, new { @class = "width-100 input-inicio" })
                        @Html.ValidationMessageFor(model => model.Edad)
                    </div>
                    <div class="text-start">
                        <div class="weight-600">Especie</div>
                        @Html.DropDownList("Especie", (IEnumerable<SelectListItem>)new SelectList(especies, "value", "text"), new { @class = "width-100 input-inicio" })
                        @*@Html.TextBoxFor(model => model.Especie, new { @class = "width-100 input-inicio" })*@
                        @Html.ValidationMessageFor(model => model.Especie)
                    </div>
                    <div class="text-start">
                        <div class="weight-600">Sexo</div>
                        @Html.TextBoxFor(model => model.Sexo, new { @class = "width-100 input-inicio" })
                        @Html.ValidationMessageFor(model => model.Sexo)
                    </div>
                    <div class="text-start">
                        <div class="weight-600">Color</div>
                        @Html.TextBoxFor(model => model.Color, new { @class = "width-100 input-inicio" })
                        @Html.ValidationMessageFor(model => model.Color)
                    </div>
                    <div class="text-start">
                        <div class="weight-600">Esterilizado</div>
                        @Html.DropDownList("Esterilizado", (IEnumerable<SelectListItem>)new SelectList(esterilizado, "value", "text"), new { @class = "width-100 input-inicio" })
                        @Html.ValidationMessageFor(model => model.Esterilizado)
                    </div>
                    <div class="text-start">
                        <div class="weight-600">Veterinaria</div>
                        @if (ViewBag.Vets != null)
                        {
                            @Html.DropDownList("Veterinaria", (IEnumerable<SelectListItem>)ViewBag.Vets, new { @class = "width-100 input-inicio" })
                        }
                        @Html.ValidationMessageFor(model => model.Veterinaria)
                    </div>

                    <div style="margin-top:2rem; display:flex; justify-content:space-evenly;">
                        <div>
                            <button type="submit" class="btn btn-warning">Crear Mascota</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>



    }
</div>

<script>
    var especies = [
        { text: "perro", value: "1" },
        { text: "gato", value: "2" },
        { text: "conejo", value: "3" },
    ];
</script>