
@{
    ViewBag.Title = "PetProfile";
}

@model PetVet.Models.Mascota

<style>

    body {
        background-color: rgba(220, 199, 170, .25)
    }

    .k-grid-header {
        padding-right: 0 !important;
    }

        .k-grid-header th {
            padding: 1rem;
        }

    tbody tr td {
        padding: 1rem;
    }

    .k-grid-content {
        overflow-y: hidden;
        overflow-x: auto;
    }

    .k-grid-content table,
    table {
        width: 777px;
    }

    .k-pager-numbers {
        display: none !important;
    }

    .k-pager-numbers-wrap {
        display: none;
    }

    .k-pager-wrap {
        display: flex;
        padding:1rem;
    }

    .k-grid td{
        border-color:transparent !important;
    }

    .k-alt{
        background-color: transparent;
    }

    .k-header {
        background-color: rgba(247, 136, 47, 0.5);
    }

    .k-alt {
        background-color: transparent;
    }

    .k-header {
        background-color: rgba(247, 136, 47, 0.5);
    }

    @@media (min-width: 992px) {
        #perfil-container {
            width: 809px !important;
        }
    }

    .btn-new-mas {
        background-color: #F7C331;
        color: white;
        height: 40px;
    }
</style>
<div id="perfil-container" class="container">
    <div style="text-align:center;"><h1>@Model.Nombre</h1></div>
    <div class="mt-1" style="margin-top:1rem;">
        <div style="font-weight:600;">Información:</div>
        <div style="font-weight:600; margin-left:1rem;">
            <div >Nombre: <span style="font-weight:400;">@Model.Nombre</span></div>
            <div>Edad: <span style="font-weight:400;">@Model.Edad</span></div>
            <div>Raza: <span style="font-weight:400;">@Model.Raza</span></div>
            <div>Especie: <span style="font-weight:400;">@Model.Especie</span></div>
            <div>Sexo: <span style="font-weight:400;">@Model.Sexo</span></div>
            <div>Esterilizado: <span style="font-weight:400;">@Model.Esterilizado</span></div>
        </div>
    </div>
    <div class="mt-1" style="margin-top:1rem; margin-bottom:2rem;">
        <div style="margin-bottom:1rem; display:flex; justify-content:space-between;">
            <div style="font-weight: 600;">Tratamientos:</div>
            @if (Session["UserType"] == "Vet")
            {
                <div>
                    <button type="button" onclick="addNewMed()" class="btn btn-new-mas">Nuevo Tratamiento</button>
                </div>
            }

        </div>
        <div id="tratamientos-grid"></div>
    </div>
</div>

<script>
    //var gridData = [
    //    { nombre: "Candy", edad: "1 mes", fecha: "10 Dic 2023", peso: "10 Kl", tratamiento: "vacuna", doctor: "Roberto Lopez", cita: "01 Ene 2024" },
    //    { nombre: "Candy", edad: "1 mes", fecha: "20 Dic 2023", peso: "20 Kl", tratamiento: "vacuna", doctor: "Roberto Lopez", cita: "01 Ene 2024" },
    //    { nombre: "Candy", edad: "1 mes", fecha: "10 Dic 2023", peso: "5 Kl", tratamiento: "vacuna", doctor: "Roberto Lopez", cita: "01 Ene 2024" },
    //    { nombre: "Candy", edad: "1 mes", fecha: "5 Dic 2023", peso: "10 Kl", tratamiento: "vacuna", doctor: "Roberto Lopez", cita: "01 Ene 2024" },
    //    { nombre: "Candy", edad: "1 mes", fecha: "10 Dic 2023", peso: "20 Kl", tratamiento: "vacuna", doctor: "Roberto Lopez", cita: "01 Ene 2024" },
    //    { nombre: "Candy", edad: "1 mes", fecha: "25 Dic 2023", peso: "5 Kl", tratamiento: "vacuna", doctor: "Roberto Lopez", cita: "01 Ene 2024" },
    //];

    var gridData = @Html.Raw(Json.Encode(Model.Tratamientos));

    $("#tratamientos-grid").kendoGrid({
        dataSource: {
            data: gridData
        },
        columns: [           
            {
                field: "Fecha",
                title: "Fecha Revision",
                width: 140,
                sortable: { initialDirection: "desc" },
                format: "{0:dd MM yyyy}",
                template: function (dataItem) {
                    var match = /\/Date\((\d+)\)\//.exec(dataItem.Fecha);
                    if (match) {
                        var milliseconds = parseInt(match[1]);
                        return kendo.toString(new Date(milliseconds), 'dd/MM/yyyy');
                    } else {
                        return "Fecha no válida";
                    }
                }
            },
            { field: "PesoMascota", title: "Peso", width: 70 },
            { field: "Descripcion", title: "Tratamiento", width: 190 },
            { field: "NombreVeterinario", title: "Veterinario", width: 120 },
            {
                field: "FechaProxima",
                title: "Próxima Cita",
                width: 100,
                template: function (dataItem) {
                    var match = /\/Date\((\d+)\)\//.exec(dataItem.FechaProxima);
                    if (match) {
                        var milliseconds = parseInt(match[1]);
                        return kendo.toString(new Date(milliseconds), 'dd/MM/yyyy');
                    } else {
                        return "Fecha no válida";
                    }
                }
            },
        ],
        pageable: {
            pageSize: 10,
            messages: {
                display: "{1} de {2} Registros",
                empty: "No existen registros",
                page: "",
                of: "",
                itemsPerPage: "",
                first: "",
                previous: "",
                next: "",
                last: ""
            }
        },
        sortable: true,
        filterable: true
    });

    function addNewMed() {
        window.location.href = "@Html.Raw(@Url.Action("NewMed", "Home"))";
    }
</script>