
@{
    ViewBag.Title = "UserProfile";
}

@model PetVet.Models.Usuario

<style>
    form {
        height: 100%;
    }
</style>

<div style="height:100%;">
    @using (Html.BeginForm())
    {
    <div class="width-50 center-content" style="background-color: rgb(220, 199, 170, .4); flex-direction:column; height:100%">
        <div style="text-align:center;"><h1 style="font-size: 2rem;">Mi Perfil</h1></div>
        <div class="mt-1" style="display:flex; justify-content:center; flex-direction:column; text-align:center;">
            <form style="height:100%;">
                @Html.HiddenFor(model => model.UsuarioID)
                    <div class="text-start">
                        <div class="weight-600">Nombre</div>
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "width-100 input-inicio" })
                        @Html.ValidationMessageFor(model => model.Nombre)
                        @*<input class="width-100 input-inicio" required />*@
                    </div>
                    <div class="text-start">
                        <div class="weight-600">Cedula</div>
                        @Html.TextBoxFor(model => model.Cedula, new { @class = "width-100 input-inicio" })
                        @Html.ValidationMessageFor(model => model.Cedula)
                        @*<input class="width-100 input-inicio" required />*@
                    </div>
                    <div class="text-start">
                        <div class="weight-600">Direccion</div>
                        @Html.TextBoxFor(model => model.Direccion, new { @class = "width-100 input-inicio" })
                        @Html.ValidationMessageFor(model => model.Direccion)
                    </div>
                    <div class="text-start">
                        <div class="weight-600">Telefono</div>
                        @Html.TextBoxFor(model => model.Telefono, new { @class = "width-100 input-inicio" })
                        @Html.ValidationMessageFor(model => model.Telefono)
                    </div>

                <div style="margin-top:4rem; display:flex; justify-content:space-evenly;">
                    <div>
                        <button disabled type="submit" class="btn btn-warning">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
            

            }

        </div>

<script>
    $(document).ready(function () {
        var inputs = $(".input-inicio");
        var btn = $(".btn-warning");

        inputs.on('input', function () {
            btn.prop('disabled', false);
        });
    })
</script>